/* ==========================================================================
    Global Styles
   ========================================================================== */
:root {
  --primary-color: #103060;
  --secondary-color: #006BC9;
  --contrast-color: #fff;
  --grey-color: #F5F6F8;
  --main-transition: .3s ease-in-out;
  --main-shadow: 0 0 10px 1px #e7e7e7;

  /* Font Sizes */
  --font-size-sm: .875rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  /* Font Families */
  --primary-font: "Fira Sans", sans-serif;
  --secondary-font: "DM Text Serif", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-optical-sizing: auto;
}

ul {
  list-style: none;
}

/* Hide default search cancel button in Webkit browsers */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}
/* ==========================================================================
    Navigation Bar Styles
   ========================================================================== */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color);
  box-shadow: var(--main-shadow);
  padding: 30px 50px;
  position: fixed;
  width: 100%;
}

/* Navigation Links */
nav .links {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 700;
}

nav .links .right-icon {
  display: none;
}

/* Search Container (Desktop) */
nav .links .search-container {
  position: relative;
}

nav .links .search-container > i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Navigation Links Styling */
nav .links a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 3px;
}

/* Underline Animation on Hover */
nav .links > li > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transition: .3s ease-in-out;
}

nav .links > li > a:hover::after {
  width: 100%;
}

/* Dropdown Menus */
nav .links .dropdown {
  position: relative;
}

nav .links .dropdown ul {
  position: absolute;
  top: 30px;
  left: 0;
  background-color: white;
  box-shadow: var(--main-shadow);
  padding: 0 var(--font-size-lg);
}

.d-none {
  display: none;
}

nav .links .dropdown ul li {
  display: inline-block;
  white-space: nowrap;
  padding: var(--font-size-lg) 0;
  width: 100%;
}

nav .links .dropdown ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-color);
}

nav .links .dropdown ul a {
  font-weight: 400;
  letter-spacing: 0;
  font-size: var(--font-size-sm);
  text-transform: capitalize;
}

nav .links .dropdown ul a:hover {
  font-weight: 700;
}

/* Search Input Container (Desktop) */
nav .links .input-container {
  width: 400px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--grey-color);
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: var(--main-transition);
}

nav .links .input-container input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  font-family: inherit;
  background-color: transparent;
  color: #A8B2C1;
  font-size: var(--font-size-md);
}

nav .links .input-container i {
  margin: 15px var(--font-size-lg);
}

nav .links .input-container i:last-of-type {
  color: #A8B2C1;
  font-size: var(--font-size-md);
  cursor: pointer;
}

nav .links .input-container i:last-of-type:hover {
  color: var(--primary-color);
}

/* Hide Search Input (Desktop) */
.close-search {
  width: 0 !important;
  transition: var(--main-transition);
}

/* Contact Button (Desktop) */
nav .links a.contact {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 40px;
  overflow: hidden;
  position: relative;
  transition: var(--main-transition);
}

nav .links a.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--secondary-color);
  transition: var(--main-transition);
}

nav .links a.contact span {
  position: relative;
  z-index: 2;
}

/* Contact Button Hover Effects */
.hover {
  color: white !important;
}

.hover::after {
  bottom: 0;
  height: 100% !important;
}

.leave::after {
  top: 0;
  height: 0;
}

/* Hamburger Menu Icon (Mobile) */
nav #menuBtn {
  font-size: var(--font-size-xl);
  cursor: pointer;
  display: none;
}

/* ==========================================================================
    Desktop Only Styles
   ========================================================================== */
@media (min-width: 1024px) {
  nav .search-close-icons {
    display: none;
  }
  nav .phone-search {
    display: none;
  }
}

/* ==========================================================================
    Mobile & Tablet Styles
   ========================================================================== */
@media (max-width: 1024px) {
  /* Search & Close Icons (Mobile) */
  nav .search-close-icons {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 5;
    color: white;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--main-transition);
    z-index: 5;
  }

  nav .search-close-icons i {
    cursor: pointer;
    font-size: var(--font-size-lg);
  }

  nav .search-close-icons i:hover {
    color: var(--secondary-color);
  }

  nav .search-close-icons #closeMenu {
    position: relative;
    z-index: 999;
    margin-left: auto;
  }

  /* Mobile Search Input */
  nav .phone-search {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 150px 50px;
    color: white;
    transition: var(--main-transition);
    z-index: 4;
  }

  nav .phone-search i {
    position: absolute;
    top: 80px;
    left: 30px;
    padding: 0;
    font-size: var(--font-size-lg);
    cursor: pointer;
  }

  nav .phone-search i:hover {
    color: var(--secondary-color);
  }

  nav .phone-search input {
    outline: none;
    border: none;
    border-left: 1px solid white;
    background-color: transparent;
    font-family: var(--secondary-font);
    font-size: var(--font-size-xl);
    padding: 10px var(--font-size-lg);
    color: var(--grey-color);
  }

  /* Mobile Navigation Links */
  nav .links {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    color: white !important;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 100px 50px;
    font-size: var(--font-size-md);
    font-weight: 700;
    transition: var(--main-transition);
  }

  nav .links li {
    width: 100%;
  }

  nav .links li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-md);
  }

  nav .links li a:not(.contact):hover {
    color: #B8C1D0 !important;
  }

  /* Dropdowns (Mobile) */
  nav .links .dropdown {
    position: relative;
    display: block !important;
  }

  nav .links .dropdown ul {
    position: relative;
    box-shadow: none;
    background-color: transparent;
    top: 0;
    margin-top: var(--font-size-lg);
    padding: 0 0 0 var(--font-size-lg);
  }

  /* Show dropdowns by default on mobile */
  .d-none {
    display: block;
  }

  nav .links .dropdown ul li {
    width: 100%;
    border: none !important;
    padding: 15px 0;
  }

  nav .links .dropdown ul a {
    font-size: var(--font-size-md);
  }

  nav .links .dropdown ul a:hover {
    color: inherit !important;
  }

  /* Contact Button (Mobile) */
  nav .links .contact-container {
    text-align: center;
  }

  nav .links a.contact {
    background-color: transparent;
    color: var(--contrast-color) !important;
    border: 1px solid var(--contrast-color);
    padding: 15px 70px;
    text-align: center;
    margin: auto;
    display: inline-block;
  }

  nav .links a.contact::after {
    background: var(--contrast-color);
  }

  nav .links a.contact:hover {
    color: var(--primary-color) !important;
  }

  /* Hide Desktop Search Bar on Mobile */
  nav .links .search-container {
    display: none;
  }

  /* Hide Dropdown Icon, Show Right Icon (Mobile) */
  nav .links .dropdown-icon {
    display: none;
  }

  nav .links .right-icon {
    display: inline-block;
  }

  /* Hamburger Menu Icon (Mobile) */
  nav #menuBtn {
    display: block;
    cursor: pointer;
  }
}
/* ==========================================================================
    End of Navigation Styles
   ========================================================================== */