/* ==========================================================================
    Global Styles
   ========================================================================== */
:root {
  --primary-color: #103060;
  --secondary-color: #006BC9;
  --contrast-color: #fff;
  --grey-color: #F5F6F8;
  --main-transition: .3s ease-in-out;
  --main-shadow: 0 0 10px rgba(0, 0, 0, .05);

  /* Font Sizes */
  --font-size-sm: .875rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  /* Font Families */
  --primary-font: "Fira Sans", sans-serif;
  --secondary-font: "DM Serif Text", sans-serif;
}

/* Reset and base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 400;
  font-optical-sizing: auto;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  width: 100%;
}

/* Hide default search cancel button in Webkit browsers */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

/* =========================================================================
    Section Styles
   ========================================================================== */
section {
  padding: 100px 0;
}

section:nth-of-type(odd) {
  background-color: var(--grey-color);
}

section h2 {
  font-family: var(--secondary-font);
  font-size: 2.75rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.loading {
  background-color: var(--primary-color);
  z-index: 99999;
  text-align: center;
  place-content: center;
}

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  transition: var(--main-transition);
}

/* =========================================================================
    Special Button Styles
   ========================================================================== */
.special-button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-weight: 700;
  letter-spacing: 2px;
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 15px 40px;
  overflow: hidden;
  position: relative;
  transition: var(--main-transition);
}

.special-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--secondary-color);
  transition: var(--main-transition);
}

.special-button span {
  position: relative;
  z-index: 2;
  transition: var(--main-transition);
}

/* Contact Button Hover Effects */
.hover {
  color: white !important;
}

.hover::after {
  bottom: 0;
  height: 100% !important;
}

.leave::after {
  top: 0;
  height: 0;
}

/* =========================================================================
    Navigation Bar Styles
   ========================================================================== */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--contrast-color);
  box-shadow: var(--main-shadow);
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

/* Navigation Links */
nav .links {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 700;
}

nav .links .right-icon {
  display: none;
}

/* Search Container (Desktop) */
nav .links .search-container {
  position: relative;
}

nav .links .search-container > i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

/* Navigation Links Styling */
nav .links a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 3px;
}

/* Underline Animation on Hover */
nav .links > li > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--primary-color);
  transition: .3s ease-in-out;
}

nav .links > li > a:hover::after {
  width: 100%;
}

nav .links .dropdown-link {
  position: relative;
}

nav .links .dropdown {
  position: absolute;
  top: 40px;
  left: 50%;
  --width: 300px;
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  background-color: var(--contrast-color);
  /* color: white; */
  box-shadow: var(--main-shadow);
  padding: 0;

  opacity: 0;
  transition: var(--main-transition);
}

nav .links .inner {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

nav .links .industries .dropdown {
  --width: 380px;
}

nav .links .services-link .dropdown  {
  --width: 420px;
}

nav .links .careers .dropdown  {
  --width: 400px;
}

nav .links .insights .dropdown  {
  --width: 400px;
}

nav .links .dropdown::before {
  content: "";
  top: -19px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--contrast-color) transparent;
}

nav .links .dropdown li {
  width: calc(50% - 20px);
  position: relative;
  transition: var(--main-transition);
}

nav .links .dropdown li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-weight: 900;
  font-size: 14px;
}

nav .links .dropdown li:hover {
  padding-left: 5px;
  color: var(--secondary-color);
}

nav .links .dropdown li a {
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 400;
  padding-left: 5px;
}

/* Hamburger Menu Icon (Mobile) */
nav #menuBtn {
  font-size: var(--font-size-xl);
  cursor: pointer;
  display: none;
}

/* =========================================================================
    Desktop Only Styles
   ========================================================================== */
@media (min-width: 1300px) {
  nav .links .in-contact {
    display: none;
  }
}

/* =========================================================================
    Mobile & Tablet Styles
   ========================================================================== */
@media (max-width: 1300px) {
  nav .links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    color: var(--contrast-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;

    transform: scaleY(0);
    transform-origin: top;

    transition: var(--main-transition);
  }

  .menu-open {
    transform: scaleY(1) !important;
  }

  nav .links > li {
    width: 100%;
  }

  nav .links > li > a {
    font-size: 1.5rem;
  }

  nav .links .dropdown {
    position: relative;
    top: initial;
    left: initial;
    margin: 0;
    margin-top: 10px;
    width: 100%;
    padding: 0 15px;
    height: 0;
    gap: 10px;

    opacity: 1;
    background-color: var(--contrast-color);
    color: var(--primary-color);

    transition: .3s ease;
    overflow: hidden;
  }

  nav .links .open-dropdown {
    max-height: 100px;
    padding: 15px;
  }

  nav .links .dropdown::before {
    content: none;
  }

  nav .links .in-contact {
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
  }

  nav .links .in-contact::after {
    background: white;
  }

  nav .links .in-contact.hover {
    color: var(--primary-color) !important;
  }


  nav .out-contact {
    display: none;
  }
  /* Hamburger Menu Icon (Mobile) */
  nav #menuBtn {
    display: block;
    cursor: pointer;
  }
}

/* =========================================================================
    Mobile Styles
   ========================================================================== */
@media (max-width: 767px) {
  nav {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  nav .links .dropdown li {
    width: 100%;
  }
}
/* =========================================================================
    End of Navigation Styles
   ========================================================================== */

/* =========================================================================
    Header Styles
   ========================================================================== */
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: .3s ease-in-out;
  animation: header-fade-out 1s ease-in-out forwards;
}

@keyframes header-fade-out {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

header img {
  width: 100%;
  margin-top: -60px;
  display: block;
}

@media (max-width: 1364px) {
  header {
    margin-top: 68px;
    height: auto;
  }

  header img {
    margin-top: -20px;
  }
}

header h2 {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -400px;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: var(--secondary-font);
  font-weight: 400;
  text-shadow: 2px 2px rgb(3, 3, 3);
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  header h2 {
    position: relative;
    font-size: 40px;
    background-color: var(--primary-color);
    padding: 40px 0 20px 0;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    margin: 0;
  }
}
/* End Header */

/* =========================================================================
    Services Section Styles
   ========================================================================== */
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 40px 0;
}

.services p {
  display: none;
}

.services .service {
  padding: 0 40px;
}

.services .service:not(:last-of-type) {
  border-right: 1px solid var(--contrast-color);
}

.services .service h4 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.75rem;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .services {
    position: relative;
    padding: 40px 0 70px;
  }
  
  .services p {
    display: block;
    font-size: .75rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .services .service {
    position: absolute;
    border: none !important;
    margin-top: 60px;
    animation: opacity-fade 9s infinite ease-in-out;
  }

  .services .service:first-of-type {
    animation-delay: 0s;
  }

  .services .service:nth-of-type(2) {
    animation-delay: 3s;
  }

  .services .service:last-of-type {
    animation-delay: 6s;
  }
}

@keyframes opacity-fade {
  0% {
    opacity: 0;
  }

  33.333% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* End Services */

/* =========================================================================
    Expertise Section Styles
   ========================================================================== */
.expertise .content {
  margin-bottom: 40px;
}

.expertise .content p {
  font-size: 1.125rem;
  line-height: 30px;
  width: 50%;
}

.expertise .content a {
  background-color: transparent;
}

@media (max-width: 1024px) {
  .expertise .content {
    margin-bottom: 60px;
  }

  .expertise .content p {
    width: 100%;
    margin-bottom: 20px;
  }
}

.expertise .box > div {
  background-color: var(--contrast-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.expertise .box .main-icon {
  font-size: 24px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  border-radius: 50%;
  margin-bottom: 30px;
}

.expertise .box h5 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.expertise .box ul {
  margin-bottom: 50px;
}

.expertise .box ul li {
  font-size: 1.125rem;
  margin: 10px 0;
  position: relative;
}

.expertise .box li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  font-weight: 900;
  font-size: 14px;
  color: var(--secondary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}

.expertise .box a {
  margin-top: auto;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  width: fit-content;
  color: var(--secondary-color);
}

.expertise .box a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--secondary-color);
  transition: var(--main-transition);
}

.expertise .box a:hover::after {
  width: 100%;
}

.expertise .box a i {
  margin-left: 5px;
}
/* End Expertise */

/* =========================================================================
    Team Section Styles
   ========================================================================== */
.team {
  margin-bottom: 120px;
}

.team .row {
  --bs-gutter-y: 8rem;
}

@media (max-width: 767px) {
  .team .row {
    --bs-gutter-y: 7rem;
  }
}
.team .member {
  position: relative;
}

.team .member .img {
  overflow: hidden;
}

.team .member img {
  transition: var(--main-transition);
}

.team .member img:hover {
  transform: scale(1.05);
}

.team .member .content {
  position: absolute;
  bottom: -64px;
  left: 50%;
  margin-left: -40%;
  z-index: 5;
  background-color: white;
  width: 80%;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

.team .member .content h5 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.team .member .content p {
  font-size: .75rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;
}

.team .member .content a {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--secondary-color);
  padding-bottom: 3px;
  position: relative;
}

.team .member .content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  transition: var(--main-transition);
}

.team .member .content a:hover::after {
  width: 100%;
}
/* End Team */

/* =========================================================================
    Companies Section Styles
   ========================================================================== */
.companies .text p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}

.companies .text h5 {
  font-size: 1.375rem;
  font-weight: 700;
}

.companies .testimonials {
  padding-left: 120px;
}

.companies .testimonials .content {
  width: 50%;
  border-bottom: 1px solid #D8DDE5;
  padding: 20px 0;
}

@media ( max-width: 1199px ) {
  .companies .testimonials {
    margin-top: 3rem;
    padding-left: 0;
  }

  .companies .testimonials .content {
    width: 100%;
    text-align: center;
  }
}

.companies .testimonials .content:first-of-type {
  border-top: 1px solid #D8DDE5;
}

.companies .testimonials h5 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 3.75rem;
  font-weight: 400;
}

.companies .testimonials p {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 32px;
}
/* End Companies */

/* =========================================================================
    Footer Styles
   ========================================================================== */
footer {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 40px 0;
}

footer ul {
  padding: 0;
}

footer img {
  width: 246px;
  max-width: 100%;
}

footer .special-button {
  background-color: transparent;
  color: var(--contrast-color) !important;
  border: 1px solid var(--contrast-color);
}

footer .contact:hover {
  color: var(--primary-color) !important;
}

footer .special-button::after {
  background: var(--contrast-color);
}

footer .hover {
  color: var(--primary-color) !important;
}

footer .container > .row {
  padding: 40px 0;
  border-bottom: 1px solid var(--secondary-color);
}

footer h6 {
  font-size: .75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

footer p {
  font-size: .875rem;
  font-weight: 400;
}

footer li,
footer a {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  margin: 5px 0;
}

footer a:hover {
  font-weight: 700;
}

footer .copyrights {
  padding-top: 20px;
}

footer .copyrights a {
  font-size: 1.5rem;
  color: var(--contrast-color);
}

footer .copyrights a:hover {
  color: #CFD6DF;
}

footer .copyrights a:not(:last-of-type) {
  margin-right: 20px;
}

footer .copyrights p {
  font-size: .75rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }

  footer .copyrights p {
    margin-top: 20px;
  }
}

@media (max-width: 670px) {
  footer .copyrights p {
    font-size: 1rem;
  }
  footer h6 {
    font-size: 1.125rem;
  }
}